%h1 The following movies conatinin '' were found on TMDb

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th Select
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.title
        // ratings
        %td= movie.release_date
        %td= check_box_tag "select"

= link_to 'Return to Movie List', movies_path