- string = "The following movies containing ' ' were found on TMDb"

%h1= string

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th Select
  %tbody
  = form_tag :action => 'add_tmdb' do
    - @movies.each do |movie|
      %tr
        %td= movie.title
        /***** ratings *****/
        %td= 'NC-17'
        %td= movie.release_date
        %td=check_box_tag "tmdb_movies[#{movie.title}]"
    = submit_tag "Add Selected Movies"

= link_to 'Return to Movie List', movies_path